*.o
*.vo
*.hi
*.glob
*.pb
*.log
*.sv
.*.aux
.vscode/*
.coqdeps.d
Makefile.coq
Makefile.coq.conf
work-obj93.cf
*/vivado.jou
*/xsim.dir/*
*~
*.lia.cache
*\#*
cava-examples/FullAdder.hs
cava-examples/UnsignedAdder.hs
dist-newstyle/
