**/*.o
**/*.vo
**/*.vos
**/*.vok
**/*.hi
**/*.glob
**/*.pb
**/*.log
**/*.aux
**/.vscode/*
**/.DS_Store
**/.coqdeps.d
**/Makefile.coq
**/.Makefile.coq.d
**/Makefile.coq.conf
**/work-obj93.cf
**/*.jou
**/*.wdb
**/xsim.dir/*
**/*~
**/*.lia.cache
**/*.nia.cache
**/*\#*
**/obj_dir
**/*.vcd
cava.code-workspace
