**/*.o
**/*.vo
**/*.hi
**/*.glob
**/*.pb
**/*.log
**/*.aux
**/.vscode/*
**/.DS_Store
**/.coqdeps.d
**/Makefile.coq
**/Makefile.coq.conf
**/work-obj93.cf
**/*.jou
**/*.wdb
**/xsim.dir/*
**/*~
**/*.lia.cache
**/*.nia.cache
**/*\#*
/third_party/coqutil/
**/obj_dir
**/*.vcd
