(edif adder8
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2020 05 05 22 20 41)
  (program "Vivado" (version "2018.3"))
  (comment "Built on 'Thu Dec  6 23:36:41 MST 2018'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell GND (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port G (direction OUTPUT))
       )
     )
   )
   (cell CARRY4 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port CI (direction INPUT))
        (port CYINIT (direction INPUT))
        (port (array (rename CO "CO[3:0]") 4) (direction OUTPUT))
        (port (array (rename O "O[3:0]") 4) (direction OUTPUT))
        (port (array (rename DI "DI[3:0]") 4) (direction INPUT))
        (port (array (rename S "S[3:0]") 4) (direction INPUT))
       )
     )
   )
   (cell LUT2 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell adder8 (celltype GENERIC)
     (view adder8 (viewtype NETLIST)
       (interface 
        (port (array (rename a "a[7:0]") 8) (direction INPUT))
        (port (array (rename b "b[7:0]") 8) (direction INPUT))
        (port (array (rename sum "sum[7:0]") 8) (direction OUTPUT))
       )
       (contents
         (instance GND (viewref netlist (cellref GND (libraryref hdi_primitives))))
         (instance (rename sum_0__INST_0 "sum[0]_INST_0") (viewref netlist (cellref CARRY4 (libraryref hdi_primitives))))
         (instance (rename sum_0__INST_0_i_1 "sum[0]_INST_0_i_1") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_0__INST_0_i_2 "sum[0]_INST_0_i_2") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_0__INST_0_i_3 "sum[0]_INST_0_i_3") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_0__INST_0_i_4 "sum[0]_INST_0_i_4") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_4__INST_0 "sum[4]_INST_0") (viewref netlist (cellref CARRY4 (libraryref hdi_primitives))))
         (instance (rename sum_4__INST_0_i_1 "sum[4]_INST_0_i_1") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_4__INST_0_i_2 "sum[4]_INST_0_i_2") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_4__INST_0_i_3 "sum[4]_INST_0_i_3") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename sum_4__INST_0_i_4 "sum[4]_INST_0_i_4") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (net (rename &_const0_ "<const0>") (joined
          (portref CI (instanceref sum_0__INST_0))
          (portref CYINIT (instanceref sum_0__INST_0))
          (portref CYINIT (instanceref sum_4__INST_0))
          (portref (member DI 0) (instanceref sum_4__INST_0))
          (portref G (instanceref GND))
          )
         )
         (net (rename a_0_ "a[0]") (joined
          (portref (member DI 3) (instanceref sum_0__INST_0))
          (portref I0 (instanceref sum_0__INST_0_i_4))
          (portref (member a 7))
          )
         )
         (net (rename a_1_ "a[1]") (joined
          (portref (member DI 2) (instanceref sum_0__INST_0))
          (portref I0 (instanceref sum_0__INST_0_i_3))
          (portref (member a 6))
          )
         )
         (net (rename a_2_ "a[2]") (joined
          (portref (member DI 1) (instanceref sum_0__INST_0))
          (portref I0 (instanceref sum_0__INST_0_i_2))
          (portref (member a 5))
          )
         )
         (net (rename a_3_ "a[3]") (joined
          (portref (member DI 0) (instanceref sum_0__INST_0))
          (portref I0 (instanceref sum_0__INST_0_i_1))
          (portref (member a 4))
          )
         )
         (net (rename a_4_ "a[4]") (joined
          (portref (member DI 3) (instanceref sum_4__INST_0))
          (portref I0 (instanceref sum_4__INST_0_i_4))
          (portref (member a 3))
          )
         )
         (net (rename a_5_ "a[5]") (joined
          (portref (member DI 2) (instanceref sum_4__INST_0))
          (portref I0 (instanceref sum_4__INST_0_i_3))
          (portref (member a 2))
          )
         )
         (net (rename a_6_ "a[6]") (joined
          (portref (member DI 1) (instanceref sum_4__INST_0))
          (portref I0 (instanceref sum_4__INST_0_i_2))
          (portref (member a 1))
          )
         )
         (net (rename a_7_ "a[7]") (joined
          (portref I0 (instanceref sum_4__INST_0_i_1))
          (portref (member a 0))
          )
         )
         (net (rename b_0_ "b[0]") (joined
          (portref I1 (instanceref sum_0__INST_0_i_4))
          (portref (member b 7))
          )
         )
         (net (rename b_1_ "b[1]") (joined
          (portref I1 (instanceref sum_0__INST_0_i_3))
          (portref (member b 6))
          )
         )
         (net (rename b_2_ "b[2]") (joined
          (portref I1 (instanceref sum_0__INST_0_i_2))
          (portref (member b 5))
          )
         )
         (net (rename b_3_ "b[3]") (joined
          (portref I1 (instanceref sum_0__INST_0_i_1))
          (portref (member b 4))
          )
         )
         (net (rename b_4_ "b[4]") (joined
          (portref I1 (instanceref sum_4__INST_0_i_4))
          (portref (member b 3))
          )
         )
         (net (rename b_5_ "b[5]") (joined
          (portref I1 (instanceref sum_4__INST_0_i_3))
          (portref (member b 2))
          )
         )
         (net (rename b_6_ "b[6]") (joined
          (portref I1 (instanceref sum_4__INST_0_i_2))
          (portref (member b 1))
          )
         )
         (net (rename b_7_ "b[7]") (joined
          (portref I1 (instanceref sum_4__INST_0_i_1))
          (portref (member b 0))
          )
         )
         (net (rename sum_0_ "sum[0]") (joined
          (portref (member O 3) (instanceref sum_0__INST_0))
          (portref (member sum 7))
          )
         )
         (net (rename sum_0__INST_0_i_1_n_0 "sum[0]_INST_0_i_1_n_0") (joined
          (portref O (instanceref sum_0__INST_0_i_1))
          (portref (member S 0) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_i_2_n_0 "sum[0]_INST_0_i_2_n_0") (joined
          (portref O (instanceref sum_0__INST_0_i_2))
          (portref (member S 1) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_i_3_n_0 "sum[0]_INST_0_i_3_n_0") (joined
          (portref O (instanceref sum_0__INST_0_i_3))
          (portref (member S 2) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_i_4_n_0 "sum[0]_INST_0_i_4_n_0") (joined
          (portref O (instanceref sum_0__INST_0_i_4))
          (portref (member S 3) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_n_0 "sum[0]_INST_0_n_0") (joined
          (portref CI (instanceref sum_4__INST_0))
          (portref (member CO 0) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_n_1 "sum[0]_INST_0_n_1") (joined
          (portref (member CO 1) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_n_2 "sum[0]_INST_0_n_2") (joined
          (portref (member CO 2) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_0__INST_0_n_3 "sum[0]_INST_0_n_3") (joined
          (portref (member CO 3) (instanceref sum_0__INST_0))
          )
         )
         (net (rename sum_1_ "sum[1]") (joined
          (portref (member O 2) (instanceref sum_0__INST_0))
          (portref (member sum 6))
          )
         )
         (net (rename sum_2_ "sum[2]") (joined
          (portref (member O 1) (instanceref sum_0__INST_0))
          (portref (member sum 5))
          )
         )
         (net (rename sum_3_ "sum[3]") (joined
          (portref (member O 0) (instanceref sum_0__INST_0))
          (portref (member sum 4))
          )
         )
         (net (rename sum_4_ "sum[4]") (joined
          (portref (member O 3) (instanceref sum_4__INST_0))
          (portref (member sum 3))
          )
         )
         (net (rename sum_4__INST_0_i_1_n_0 "sum[4]_INST_0_i_1_n_0") (joined
          (portref O (instanceref sum_4__INST_0_i_1))
          (portref (member S 0) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_4__INST_0_i_2_n_0 "sum[4]_INST_0_i_2_n_0") (joined
          (portref O (instanceref sum_4__INST_0_i_2))
          (portref (member S 1) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_4__INST_0_i_3_n_0 "sum[4]_INST_0_i_3_n_0") (joined
          (portref O (instanceref sum_4__INST_0_i_3))
          (portref (member S 2) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_4__INST_0_i_4_n_0 "sum[4]_INST_0_i_4_n_0") (joined
          (portref O (instanceref sum_4__INST_0_i_4))
          (portref (member S 3) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_4__INST_0_n_1 "sum[4]_INST_0_n_1") (joined
          (portref (member CO 1) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_4__INST_0_n_2 "sum[4]_INST_0_n_2") (joined
          (portref (member CO 2) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_4__INST_0_n_3 "sum[4]_INST_0_n_3") (joined
          (portref (member CO 3) (instanceref sum_4__INST_0))
          )
         )
         (net (rename sum_5_ "sum[5]") (joined
          (portref (member O 2) (instanceref sum_4__INST_0))
          (portref (member sum 2))
          )
         )
         (net (rename sum_6_ "sum[6]") (joined
          (portref (member O 1) (instanceref sum_4__INST_0))
          (portref (member sum 1))
          )
         )
         (net (rename sum_7_ "sum[7]") (joined
          (portref (member O 0) (instanceref sum_4__INST_0))
          (portref (member sum 0))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design adder8
    (cellref adder8 (libraryref work))
    (property part (string "xc7a200tsbg484-1"))
  )
)
